<!DOCTYPE html>
<html ng-app='iqsElasticAdmin'>
	<head>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script type="text/javascript" src="scripts/src/elasticsearch.angular.min.js"></script>
		<script type="text/javascript" src="scripts/src/elasticsearch.js"></script>
		<script type="text/javascript" src="scripts/src/search.js"></script>
		<script src="scripts/src/ace.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="screen.css">
		<script src="scripts/src/theme-twilight.js" type="text/javascript" charset="utf-8">
		</script>
		
		<title> 
			IQS Elasticsearch Admin
		</title>
	</head>
	<body ng-controller='getSchemasCtrl'>
		<h1>
			Json Documents	
		</h1>
		<div>
			Select an Index
		</div>
		<div>
			Schemas List
			<button id="schemas" ng-click='fetch()' type="button">Fetch</button>
			<div ng-repeat="hit in hits">
				 <ul>
				    <li>
				      <span>{{hit._id}}</span>
				      <button id="selectSchema" ng-click='selectItem(hit._source)' type="button">View</button>
				    </li>
				  </ul>
			</div>
			<div id="editor">test</div>
			<script src="scripts/src/customAce.js" type="text/javascript"></script>
	</body>
</html>