<!DOCTYPE html>
<html ng-app='iqsElasticAdmin'>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script type="text/javascript" src="scripts/src/elasticsearch.angular.min.js"></script>
		<script type="text/javascript" src="scripts/src/elasticsearch.js"></script>
		<script type="text/javascript" src="scripts/src/search.js"></script>
		<script type="text/javascript" src="scripts/src/ace.js" charset="utf-8"></script>
		<script type="text/javascript" src="scripts/src/theme-twilight.js" charset="utf-8"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="screen.css">
		<title> 
			IQS Elasticsearch Admin
		</title>
	</head>
	<body ng-controller='adminCtrl'>
		<div class="container">
			<h1>
				IQS Elasticsearch Admin Portal	
			</h1>
			<div id="indicesBtn">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3>
							Indicies
						</h3>
						<table class="table table-hover">
							<tr>
								<th>
									Name
								</th>
								<th>
									Status
								</th>
								<status
							</tr>
							<tr ng-repeat="index in indicies">
								<td ng-click='fetchIndexItems(index)'>
									{{index.name}}
								</td>
								<td>
									{{index.status}}
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				 <div class="col-sm-6">
				 	<h3>
						Search By Id
					</h3>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="input-group">
							  <div class="input-group-btn">
							     <button type="button" class="btn btn-default">Go!</button>
							  </div>
							  <input type="text" class="form-control">
							</div>
						</div>
					</div>
					<hr>
					<h3>
						Documents
					</h3>
					<div class="panel panel-default">
						<div class="panel-body">
							<div id="countDiv">
								Count <span class="badge">{{result.hits.total}}</span>
							</div>
							<div id="countDiv">
								Showing <span class="badge">{{result.hits.hits.length}}</span>
							</div>
							<table class="table table-striped" ng-show="hits.length">
								<tr>
									<th>
										Document Id
									</th>
									<th>
										Type
									</th>
									<th>
										Action
									</th>
								</tr>
								<tr ng-repeat="hit in hits">
									<td>
										{{hit._id}}
									</td>
									<td>
										{{hit._type}}
									</td>
									<td>
										<button id="viewItem" class="btn btn-default" ng-click='selectItem(hit)' type="button">
			      						<span class="glyphicon glyphicon-search"></span> View
			      						</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h3>
						Json
					</h3>

					<div id="editor"></div>
						<div id="editorActions">
							<button class="btn btn-default" id="submitNewJson" ng-click='submitContent()' type="button">
							<span class="glyphicon glyphicon-floppy-disk"></span> Save
						</button>
						<button id="deleteItem" class="btn btn-default" ng-click='deleteItem(hit)' type="button">
	  						<span class="glyphicon glyphicon-remove"></span> Delete
						</button>
						</div>
				</div>
			</div>
		</div>	
	</body>
</html>