h1 {
	text-align: center;
	padding-bottom: 15px;
}

h3 {
	width: 200px;
}

 #editor {
    position: center;
    height: 506px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#editorContainer {
	padding: 5px;
}

.panel {
	margin-top: 5px;
}

#items{
	padding-top: 5px;
}

.table{
	margin-bottom: 0px;
}

.col-sm-6 {
	background-color: #f7f7f9;
	border-radius: 5px;
	border: 1px solid #e1e1e8;
	padding-bottom: 5px;
	width: 100%;
	margin-bottom: 10px;
}

#label {
	padding: 2px;
}

.panel-body {
	padding-top: 0px
}

#editorActions{
	padding-bottom: px;
	float: right;
	margin: 5px;
}

#countDiv {
	padding: 5px;
	float: right;
}

.input-group {
	padding-top: 15px;
}
