h1 {
	text-align: center;
	padding-bottom: 15px;
}

 #editor {
    position: center;
    width: 500px;
    height: 506px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#editorContainer {
	padding: 5px;
}

.panel {
	margin-top: 5px;
}

#items{
	padding-top: 5px;
}

.col-sm-6 {
	padding-top: 5px;
	background-color: #f7f7f9;
	border-radius: 5px;
	border: 1px solid #e1e1e8;
}

#label {
	padding: 2px;
}

#schemaBtn, #indicesBtn {
	margin: 5px;
}

